<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <center><h2>New Assignment</h2></center>

        <md-input-container>
            <label style="color:#545454">Assignment Name</label>
            <input required type="text" name="task_name" ng-init="vm.content = ngDialogData.content"
                   ng-model="vm.content">
        </md-input-container>


        <md-input-container flex>
            <label style="color:#545454">Due Date</label>
            <input required type="date" ng-model="vm.start_time">
        </md-input-container>

        <md-checkbox aria-label="is_repeating" class="is_repeating" ng-model="vm.is_repeating"
                     ng-hide="vm.pud_time == true">Repeating Assignment
        </md-checkbox>

        <div ng-show="vm.is_repeating == true">
            <md-radio-group ng-model="vm.repeat">
                <div layout layout-sm="column" layout-align="center center">
                    <md-radio-button value='Daily'>Daily</md-radio-button>
                    <md-radio-button value='Weekly'>Weekly</md-radio-button>
                    <md-radio-button value='Monthly'>Monthly</md-radio-button>
                </div>
            </md-radio-group>

            <md-input-container flex>
                <label style="color:#545454">Repeat until</label>
                <input type="date" ng-model="vm.end_repeat">
            </md-input-container>

        </div>

        <div>
            <center>Assign to Whom</center>
            <br>
            <angucomplete class="change_angucomplate" id="search" pause="100" selectedobject="vm.selectedGroup"
                          localdata="ngDialogData" titlefield="name" searchfields="name"
                          minlength="1"
                          inputclass="form-control2" matchclass="highlight"
                          placeholder="Search Groups and Followers"/>

            <center><a class="absolute mdi-social-plus-one btn btn-default "
                       ng-show="vm.selectedGroup"
                       ng-click="vm.addGroups()"></a></center>

            <li ng-repeat="(group, rule) in vm.groupRuleDict">{{ group }}</li>
        </div>

        <md-checkbox aria-label="notification" class="notification" ng-model="vm.notification">Notify Students of Due Date
        </md-checkbox>
        <md-input-container>
            <label ng-show="vm.notification == true" style="color:#545454">Notification Time</label>
            <input type="datetime-local" name="notify_when" ng-model="vm.notify_when"
                   ng-show="vm.notification == true"/>
        </md-input-container>

        <div class="form-group" layout="column" layout-align="center center">
            <md-button class="md-raised md-primary btn-submit" type="submit">Assign</md-button>
        </div>


    </div>

</form>
