<video autoplay loop poster="/static/lib/video/Classy.png" id="bgvid">
    <source src="/static/lib/video/Classy.mp4" type="video/mp4">
</video>

<div class="codrops-top clearfix">
            <span class="right" style="font-size: 15px; padding-right: 20px"><a href="/"
                                                                                ng-click="vm.showLogin()"><span>Login</span></a></span>
</div>


<div ng-hide="vm.isPrompted">
    <br><br><br><br>
    <center>
        <div class="codrops-header">
            <h1 class="faderLong" style="color:#2196f3; font-family: 'Raleway'; font-size: 100px"
                ng-hide="vm.isPrompted"><span>Presenting</span>
                Classy <i><b> A social education management platform used to engage students, teachers, and
                    parents. </b></i></h1>
        </div>
    </center>

</div>

<div class="col-md-4 col-md-offset-4">
    <br><br><br><br><br>

    <div class="faderLong" layout="column" layout-align="center center" ng-show="vm.isPrompted">
        <br><br><br><br><br><br><br>

        <div class="well" layout="column" layout-align="center center" style="height:450px; width:471px">
            <md-tabs md-selected="0" md-border-bottom>
                <md-tab style="padding-left: 80px; padding-right: 80px;" ng-repeat="tab in tabs track by $index"
                        ng-disabled="tab.disabled"
                        label="{{ tab.title }}">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <div>
                            <form role="form" ng-submit="vm.login()" ng-show="$index == 0">
                                <br><br>
                                <md-input-container>
                                    <label style="color:#545454">Email</label>
                                    <input required type="text" name="task_name"
                                           ng-model="vm.email">
                                </md-input-container>
                                <md-input-container>
                                    <label style="color:#545454">Password</label>
                                    <input required type="password" name="task_name"
                                           ng-model="vm.password">
                                </md-input-container>
                                <md-input-container></md-input-container>
                                <br><br>

                                <div class="form-group" layout="column" layout-align="center center"
                                     ng-show="$index == 0">
                                    <md-button class="md-raised md-primary btn-submit" type="submit">Login
                                    </md-button>
                                </div>

                            </form>
                            <form role="form" ng-submit="vm.register()" ng-show="$index == 1">
                                <md-input-container>
                                    <label style="color:#545454">Email</label>
                                    <input required type="text" name="task_name"
                                           ng-model="vm.email">
                                </md-input-container>
                                <md-input-container>
                                    <label style="color:#545454">Name</label>
                                    <input required type="text" name="task_name"
                                           ng-model="vm.username">
                                </md-input-container>
                                <md-input-container>
                                    <label style="color:#545454">Password</label>
                                    <input required type="password" name="task_name"
                                           ng-model="vm.password">
                                </md-input-container>
                                <md-radio-group ng-model="vm.userType">
                                    <div layout layout-sm="column" layout-align="center center">
                                        <md-radio-button value='Student'>Student</md-radio-button>
                                        <md-radio-button value='Teacher'>Teacher</md-radio-button>
                                        <md-radio-button value='Parent'>Parent</md-radio-button>
                                    </div>
                                </md-radio-group>
                                <div class="form-group" layout="column" layout-align="center center"
                                     ng-show="$index == 1">
                                    <md-button class="md-raised md-primary btn-submit" type="submit">Signup
                                    </md-button>
                                </div>
                            </form>
                        </div>
                        <br/>
                    </div>
                </md-tab>
            </md-tabs>


        </div>
    </div>
</div>



